html, body {
    /* font-family: sans-serif; */
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    min-height: 100vh;
    position: relative;
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu-button {
    display: none;
    position: absolute;
    color: #fff;
    top: 10px;
    left: 10px;
    cursor: pointer;
    z-index: 9;
}

.overlay {
    padding-top: 200px;
    position: fixed;
    color: #fff;
    text-align: center;
    right: 100%;
    top: 0;
    height: 100%;
    width: 100%;
    transition: 1s ease-in-out;
    background-color: rgba(0, 0, 0, 1);
    z-index: 11;
}

.overlay a {
    display: block;
    text-decoration: none;
    color: #fff;
    opacity: 0.7;
    font-size: xx-large;
}

.overlay a:active {opacity: 1;}

.social-handle {
    position: absolute;
    display: flex;
    width: 160px;
    right: 10px;
    top: 10px;
    text-align: center;
    align-items: center;
    z-index: 9;
}

.social-handle a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    
}

.social-handle a:hover, .menu-button:hover {
    color: #ffcb04;
}

.social-handle a:active, .menu-button:active {
    color: #fff;
}

.header {
    padding: 50px;
    position: relative;
    min-height: 500px;
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/header.jpg);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/header.jpg);
    background-size: cover;
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
}

.welcome-message {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition-property: background-color;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
    background-color: rgba(0, 0, 0, 0);
}

.welcome-message .message {
    margin-top: 250px;
    margin-left: 8%;
    transition: 2s;
}

.welcome-message .message #w1 {
    position: absolute;
    opacity: 0;
    transition: 2s;
}

.welcome-message .message #w2 {
    position: absolute;
    right: 100%;
    font-weight: bolder;
    font-size: 5rem;
    transition: 2s;
    /* right: 0; */
}

.nav {
    position: fixed;
    display: flex;
    width: 100%;
    height: 50px;
    left: 0;
    top: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: white;
    transition: 0.5s ease-in-out;
    z-index: 10;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.nav a {
    color: #021624;
    margin: 0 20px;
}

.hidden {
    top: -50px;
}

.nav a:hover {
    border-bottom: 3px solid #ffcb04;
}

.logo-icon {
    width: 60px;
    height: 50px;
}

.header-link-container {
    display: inline-block;
    margin: 10px;
}

.header-link {
    position: relative;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    z-index: 9;
}

.header-link a:hover {
    opacity: 0.7;
}

.bottom-bar {
    position: absolute;
    width: 25px;
    height: 5px;
    background-color: #ffcb04;
    border-radius: 2px;
}

.card {
    position: relative;
    display: inline-block;
    width: 30%;
    margin: 20px 5%;
    border-radius: 10px;
}

.card .card-header {
    height: 200px;
}

.card .card-header img {
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
}

.card .card-header img:hover {
    opacity: 0.7;
}

.card .card-header .card-title {
    color: #212529;
    font-weight: bolder;
    text-decoration: none;
    cursor: text;
}

.card .card-body .card-content {
    margin-top: 45px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.page-section {
    position: relative;
}

.colored-section {
    position: relative; 
    width: 100%;
    left: 0; 
    background-color: rgba(255, 203, 4, 0.6);
    padding: 20px 0;
}

.colored-section .section-content {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 55%; 
    padding: 0 20px;
}

.colored-section .section-content img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30%;
    /* height: 300px; */
}

.why-us i, .core-v i {
    position: absolute;
    color: rgb(236, 47, 106);
    font-size: 5rem;
}

.why-us .content {
    width: 50%;
    padding: 0 20px;
    margin-left: 20px;
}

.why-us h2, .why-us p {
    margin-left: 100px;
}

footer {
    position: relative;
    height: 100px;
    bottom: 0;
    padding: 0 20px;
    font-size: small;
    /* font-weight: bolder; */
    color: #fff;
    background-color: #021624;
    border-top: 1px solid black;
}

footer .social-handle {
    left: 0;
    top: 50px;
}

footer .rights {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 90%;
    margin: auto;
}


/* -------------------------------------Styles Contact template ---------------------------- */
.headers {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(2, 22, 36, 0.9);
    min-height: 300px;
}

.headers .heading {
    text-align: center;
    color: #cccccc;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.mail-draft {
    float: left;
    margin-top: 50px;
    padding: 0 10%;
    width: 45%;
}

.mail-draft, .reach-us {
    animation: fade 2s;
}

.mail-draft .head, .reach-us .head {
    font-size: x-large;
    font-weight: bold;
}

.sender-name, .sender-email, .mail-content {
    display: block;
    width: 100%;
    margin: 10px 0;
    border: 1px solid #cccccc;
    border-radius: 5px;
    transition: 0.1s;
}

.sender-email:focus, .sender-name:focus, .mail-content:focus {
    border-color: rgba(255, 203, 4, 0.3);
    outline: 3px solid rgba(255, 203, 4, 0.3);
}

.sender-email, .sender-name {height: 30px;}

.mail-content {height: 150px;}

.submit-btn {
    padding: 5px;
    color: #fff;
    opacity: 0.8;
    height: 40px;
    width: 70px;
    font-size: 1.2rem;
    background-color: #ffcb04;
    border: none;
    border-radius: 7px;
}

.submit-btn:hover, .submit-btn:active {opacity: 1;}

.reach-us {
    float: left;
    padding: 10px;
}

.reach-us i {
    font-size: x-large;
    font-weight: 500;
}

.reach-us .detail {
    margin-left: 20px;
    color: #6C757D;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


/* -------------------------------------Styles About template ---------------------------- */
.core-v i {font-size: larger;}

.core-v p {
    margin-left: 40px;
}

.wwa, .core-v {
    padding: 0 20px;
    animation-name: fade;
    animation-duration: 2s;
}

.core-v {margin-left: 10px;}

@keyframes fade {
    from {opacity: 0;} to {opacity: 1};
}


/* -------------------------------------Styles Services template ---------------------------- */
.services-main-page {
    position: relative;
    width: 100%;
    animation-name: fade;
    animation-duration: 2s;
}

.services-list {
    position: absolute;
    top: 100px;
    left: 100px;
    background-color: rgba(255, 203, 4, 0.5);
    padding: 20px;
    border-radius: 20px;
}


/* -------------------------------------Styles for Mobile Devices ---------------------------- */
@media screen and (max-width: 420px) {
    .welcome-message .message {
        margin-top: 200px;
        margin-left: 20px;
    }
    
    .welcome-message .message #w2 {
        font-weight: bolder;
        font-size: 2.5rem;
    }

    .heaader {
        min-height: 300px;
    }


    .header-link {
        display: none;
    }

    .social-handle a:active {
        color: #ffcb04;
    }

    .menu-button {
        display: block;
    }

    .card {
        display: block;
        width: 90%;
        margin-bottom: 50px;
        margin-top: 20px;
    }

    .colored-section .section-content {
        width: 90%;
    }

    #about-us-img {
        display: none;
    }

    .why-us i {
        font-size: 2rem;
    }

    .why-us h2 {
        margin-left: 40px;
    }

    .why-us p {margin-left: 0;}

    .why-us .content {
        width: 80%;
    }

    footer {
        height: 200px;
    }

    /* --------Contact Template.......... */
    .mail-draft, .reach-us {
        float: none;
        width: 80%;
        margin-top: 60px;
        padding: 0 10%;
    }

    .clearfix::after {
        display: block;
        clear: none;
    }

    /* --------Contact Template.......... */
    .services-list {
        padding: 0 5%;
        width: 90%;
        left: 0;
        top: 0;
        border-radius: 0;
    }
}
