html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
}

.social-handle {
    position: absolute;
    display: flex;
    width: 160px;
    right: 0;
    top: 0;
    text-align: center;
    align-items: center;
    padding: 10px 0;
}

.social-handle a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    
}

.social-handle a:hover {
    color: #ffcb04;
}

.social-handle a:active {
    color: #fff;
}

.header {
    padding: 50px;
    position: relative;
    height: 80vh;
    min-height: 600px;
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/header.jpg);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/header.jpg);
    background-size: cover;
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
}

.nav {
    position: fixed;
    display: flex;
    width: 100%;
    height: 50px;
    left: 0;
    top: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: white;
    transition: 0.5s ease-in-out;
    z-index: 100;
    border-bottom: 1px solid gray;
}

.nav a {
    color: #021624;
    margin: 0 20px;
}

.hidden {
    top: -50px;
}

.nav a:hover {
    border-bottom: 3px solid #ffcb04;
}

.logo-icon {
    width: 60px;
    height: 50px;
}

.header-link-container {
    display: inline-block;
    margin: 10px;
}

.header-link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.bottom-bar {
    position: absolute;
    width: 25px;
    height: 5px;
    background-color: #ffcb04;
    border-radius: 2px;
}

.welcome-message {
    position: relative;
    margin-top: 90px;
    line-height: 20px;
}

.welcome-message h1 {
    font-size: 4rem;
}

.card {
    position: relative;
    display: inline-block;
    width: 30%;
    margin: 20px 5%;
    border-radius: 10px;
}

.card .card-header {
    height: 200px;
}

.card .card-header img {
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
}

.card .card-header img:hover {
    opacity: 0.7;
}

.card .card-header .card-title {
    color: #212529;
    font-weight: bolder;
    text-decoration: none;
    cursor: text;
}

.card .card-body .card-content {
    margin-top: 45px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.page-section {
    position: relative;
}

.colored-section {
    position: relative; 
    width: 100%;
    left: 0; 
    background-color: rgba(255, 203, 4, 0.6);
    padding: 20px 0;
}

.colored-section .section-content {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.colored-section .section-content img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 500px;
    height: 300px;
}

.why-us i {
    position: absolute;
    color: rgb(236, 47, 106);
    font-size: 5rem;
    margin-right: 30px;
}

.why-us h2, .why-us p {
    margin-left: 100px;
}
